[submodule "External/BitNet"]
	path = External/BitNet
	url = https://github.com/ocentra/BitNet.git
[submodule "External/onnxruntime"]
	path = External/onnxruntime
	url = https://github.com/ocentra/onnxruntime
[submodule "External/mediapipe"]
	path = External/mediapipe
	url = https://github.com/ocentra/mediapipe.git
